version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: db-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: symfony_db
      MYSQL_USER: symfony
      MYSQL_PASSWORD: symfony
    ports:
      - "3306:3306"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - mysql_data:/var/lib/mysql

  adminer:
    image: adminer
    container_name: db-adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - mysql

  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: symfony-php
    volumes:
      - .:/var/www/html
    environment:
      DATABASE_URL: "mysql://symfony:symfony@mysql:3306/symfony_db"
    depends_on:
      - mysql

volumes:
  mysql_data:
