{% extends 'base.html.twig' %}

{% block title %}Edit Recipe
{% endblock %}

{% block body %}
	<div class="containe w-50 mt-4 mx-auto">
		<div class="card p-4 shadow">
			<h1 class="text-center">Edit Recipe</h1>
			<hr class="mb-4">
			{{form(form)}}
		</div>
	</div>
{% endblock %}
