{% extends 'base.html.twig' %}

{% block title %}Create new Recipe
{% endblock %}

{% block body %}
	<div class="containe w-50 mx-auto mt-4">
		<div class="card p-4 shadow">
		<h1 class="text-center">Create a new recipe</h1>
		<hr class="mb-4">
			{{form(form)}}
			</div>
		</div>
	{% endblock %}
